<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page of D College</title>
</head>
<body>

<div align="center">
    <h4>This is D College Homepage</h4>
</div>
<div align="right">
    <span> <a href="/" th:href="@{/logout}">Logout ?</a></span>
</div>


<div align="left">
    <a href="/registration">Click here to register student !!!</a><br/>
    <a href="/listStudents">Click here to view enrolled students !!! </a>
</div>

</body>
</html>